<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="ap-local-base-url" content="{{localBaseUrl}}">
  <meta name="repo-id" content="{{repoId}}">

    <meta name="token" content="{{token}}">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{furl '/css/addon.css'}}" type="text/css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="{{hostScriptUrl}}" type="text/javascript"></script>
</head>
<body>
  <section id="content" role="main">
    {{{body}}}
  </section>
  <script src="{{furl '/js/bundle.js'}}"></script>
</body>
</html>
